<div>
    <form>
        <div class="form-group">
            <label class="form-control-label" for="formGroupGameIdInput">Game id</label>
            <input type="text" class="form-control" id="formGroupGameIdInput" placeholder="id" #gameIdInput>
        </div>
        <button class="btn btn-primary" (click)="createNewGame(gameIdInput.value)">Create Game</button>
        <button class="btn btn-success" (click)="getGame(gameIdInput.value)">Get Game</button>
    </form>
</div>

<div *ngIf="game">

    Game State: {{game.state}}

    <div *ngIf="game.winner">
        Winner: {{game.winner}}
    </div>

    <table class="table" *ngIf="game.players">
        <tr>
            <th>Player</th>
            <th>Move</th>
        </tr>

        <tr *ngFor="let player of game.players">
            <td>{{player.playerId}}</td>
            <td>{{player.move}}</td>
        </tr>
    </table>

    <form *ngIf="canMakeMove()">
        <div class="form-group">
            <label class="form-control-label" for="formGroupPlayerInput">Player</label>
            <input type="text" class="form-control" id="formGroupPlayerInput" placeHolder="player" #player>
        </div>

        <div class="form-row">

            <div class="col">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="moveType" id="moveType" (click)="setNextMove('rock')">
                        Rock
                    </label>
                </div>
            </div>

            <div class="col">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="moveType" id="moveType" (click)="setNextMove('paper')">
                        Paper
                    </label>
                </div>
            </div>

            <div class="col">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="moveType" id="moveType" (click)="setNextMove('scissor')">
                        Scissor
                    </label>
                </div>
            </div>
        </div>

        <button class="btn btn-primary" (click)="makeMove(player.value)">Make Move</button>
    </form>
</div>
